<div class="col-md-3">
  <div class="form-group">
    <label for="channel">Join Channel</label>
    <input type="text" id="channel" name="channel" class="form-control" />
  </div>

  <a href="#" class="btn btn-primary" id="join-channel">Join Channel</a>
</div>

<% content_for :additional_scripts do %>
  <%= javascript_include_tag 'channels' %>
<% end %>
